# Gradle
/.gradle/
/build/
/*/build/
/*/gradle.properties
gradle.deps

# Eclipse
/.classpath
/.project
/.settings/

# IntelliJ
.idea/
*.iml

# Local properties
/local.properties

# Captures
/captures

google-services.json
play-service-account.json
