<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="se.gustavkarlsson.aurora_notifier.android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

	<uses-feature android:name="android.hardware.location.network"/>
	<uses-feature android:name="android.hardware.location.gps"/>

	<!--
	TODO App is not indexable by Google Search; consider adding at least one Activity with an ACTION-VIEW intent filter.
		See issue explanation for more details.
	TODO On SDK version 23 and up, your app data will be automatically backed up and restored on app install.
		Consider adding the attribute `android:fullBackupContent` to specify an `@xml` resource which configures which
		files to backup. More info: https://developer.android.com/training/backup/autosyncapi.html
	TODO Consider adding android:fullBackupContent=""
	Also read https://github.com/evernote/android-job about backign up its db
	-->
	<application
		android:name=".AuroraNotifier"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">

		<activity
			android:name=".gui.activities.main.MainActivity"
			android:label="@string/aurora_chance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".gui.activities.settings.SettingsActivity"
			android:label="@string/settings"
			android:parentActivityName=".gui.activities.main.MainActivity">
		</activity>

	</application>

</manifest>
